$primary-color: #ff7800;
$nunito-sans: Nunito Sans, sans-serif;
$item-border: 2px solid orange;
$item-border-radius: 5px;


body {
    font-family: $nunito-sans;
}

#app {
    text-align: center; 
    color: $primary-color;
}

#header {
    background-image: url("/assets/backsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
    width: 100%;
    position: relative;

    #basket-description {
        text-align: center;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        color: black;
    }    
}

#grocery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    #grocery-list {
        display: grid;
    }

    h1 {
        border: $item-border;
        border-radius: $item-border-radius;
        width: 100%;
    }
}