$primary-color: #ff7800;

#app {
    text-align: center; 
    color: $primary-color;
}

#nav-bar {
    background-image: url("/assets/backsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
    width: 100%;
    position: relative;
}